


<h5 style = "color:red;margin-left: 48%; padding-bottom: 112px;"> <span style =" background-color: yellow;">plz click the button </span></h5>
<div style = "display: flex; color: white;margin-left: 41%;" >

<li class="nav-link">
  <%= link_to "<span class='fa fa-cog'</span>&nbsp;&nbsp;Edit".html_safe, edit_user_registration_path, class:'btn btn-mini btn-success'%>
</li>
<li class="nav-link">
  <%= link_to "<span class='fa fa-cog'</span>&nbsp;&nbsp;Category".html_safe, categories_path, class:'btn btn-mini btn-success' %>
</li>
<li class="nav-link">
  <%= link_to "<span class='fa fa-cog'</span>&nbsp;&nbsp;Product".html_safe, products_path , class:'btn btn-mini btn-success'%>
</li>
</div>